body{
    font-family: "Roboto", Helvetica;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */
.navbar{
    display: flex; 
    justify-content: space-around; 
    height: 100px;
}

.logo-left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-width: 150px;
}

.logo{
    min-width: 60px;
    height: 60px;
}

.right-links{
    display: flex;
    align-items: center;
    padding: 10px;
    min-width: 450px;
}

a{
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    font-size: 18px;
    color: #404042;
}

/* HERO SECTION */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.left-content{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.blue{
    color: #2764DB;
}

.right-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img{
    height: auto;
    max-width: 950px;
}

.Hero-main-text{
    font-size: 60px;
}

.Hero-secondary-text{
    font-size: 30px;
    font-weight: 500;
    color: #333;
}

.btn-signup{
    padding: 10px 30px; 
    background: #2764DB;
    color: #fff; 
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    height: 40px;
    width: 150px;
    margin-top: 18px;
}



/* INFO SECTION */

.info-header{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: 500px;
    background-color: #F9FAF8;
}

.card-img{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 2px solid #2764DB;
    transition: 0.3s;
    border-radius: 10px; /* 10px rounded corners */
    width: 100px;
    height: 100px; 
    padding: 20px;  
}

.card-wrap{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 50px;
}

.sub-text{
    width: 150px;
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Testimonial */

.testimonial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #E5E7EB;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 850px;
    font-size: 36px;
    font-family: 'Barlow', sans-serif;
    font-weight: 100; 
    font-style: italic;
    color: #1F2937;
    padding: 15px;
}

.author{
    font-family: 'Barlow', sans-serif;
    font-style: italic;
    font-weight: bold;
    width: 550px;
    padding: 10px;
}

.name{
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
}

/* Call to action */

.signup-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 300px;
    /* border: 1px solid black; */
}

.action-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    width: 800px;
    height: auto;

}

.subtext{
    font-family: 'Barlow', sans-serif;
    font-weight: 500; 
    font-style: italic;
}

.btn-signup-2{
    padding: 10px 30px; 
    background: #2764DB;
    color: #fff; 
    border: none;
    border: 1px solid white;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    height: 30px;
    width: 110px;
    margin-top: 18px;
}

/* Footer */
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1F2937;
    color: white;
}

.credit a {
    color: white;
    font-size: 15px;
}